# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.log
*key
uploads/*
config/config.toml
config.json
*.json
*.log
goserver
massgrid
main
*.tgz
*.tar.gz
vendor/*
apidoc/*